/*****************************
*	horizontal news ticker
******************************/

.ticker-wrapper-h {
  display: flex;
  position: relative;
  overflow: hidden;
  border: 1px solid #5c7c9f;
  background-color: rgb(65, 65, 201);
}

.ticker-wrapper-h .heading {
  background-color: #ca0f0f;
  color: #fff;
  font-size: 18px;
  padding: 8px 10px;
  flex: 0 0 auto;
  z-index: 1000;
}
.ticker-wrapper-h .heading:after {
  content: "";
  position: absolute;
  top: 0;
  border-left: 20px solid #cb0000;
  border-top: 17px solid transparent;
  border-bottom: 15px solid transparent;
}

.news-ticker-h {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 90%;
  z-index: 999;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: tic-h;
  animation-duration: 30s;
}

.news-ticker-h li {
  display: flex;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  padding-left: 20px;
}

.news-ticker-h li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

@keyframes tic-h {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
